.asteroid_big, .asteroid_b329_big {
    color: blue;
}

#b325, .asteroid_b326 {
    border: 1px solid green;
}

#b325, .asteroid_b326, .asteroid_b329_big {
    font-weight: bold;
}

.asteroid_big {
    background-color: yellow;
    border-radius: 3px;
}