.container {
  border: 1px solid green;
}

.asteroid_big {
    background-color: yellow
}

.container, .asteroid_b329_big {
    font-weight: bold;
}

.lorem {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.lorem p::first-line {
  font-weight: bold;
}

.lorem * {
  outline: 1px solid red;
}

.lorem p {
  width: 300px;
  height: 120px;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
}

.lorem p:hover {
  background-color: salmon;
  color: white;
}